/* CSS declarations go here  */

#cy {
  width : 70vw;
  height: 50vw;
  position: absolute;
}

#infoBox{
  visibility: hidden;
}


/*
#add {
  position: absolute;
  right: 0;
  top: 0;
  margin: 0.5em;
  z-index: 9999;
}

#init {
  position: absolute;
  right: 0;
  top: 30px;
  margin: 0.5em;
  z-index: 9999;
}*/

