<template name="infobox">

    <!-- <p id="textArea" class="editable" data-type="textarea" data-placeholder="Name" data-emptytext="Click to enter text" data-rows="4">{{ currentSelection.data.name}}</p> -->

    {{> xEditable type="text" value=currentSelection.data.name success=onSuccess placement="right" defaultValue="Name"}}


    <ul>
        <li>{{ currentSelection._id }}</li>
        <li>{{ currentSelection.data.id }}</li>
        <li>{{ currentSelection.group }}</li>
        <li>{{ currentSelection.data.group }}</li>
    </ul>

</template>
